#root {
  margin: 0 auto;
  width: 100%;
}
.loading{
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 40000;
  border: 1px solid gray;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
}