.alertbox{
    border: 1px solid gray;
    border-radius: 10px;
    height: 60px;
    min-width: 250px;
    position: fixed;
    z-index: 20000;
    top: 10%;
    right: 5%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}