.propertyHolder{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.propImage{
    height: 500px;
    width: 550px;
    background-image: url('../images/rs.png');
    background-position: center;
    background-size: cover;
    /* border-radius: 100%; */
}
.propHold{
    width: 30%;
    margin-left: 30px;
}
.pag{
    font-size: 13px;
}
.tt, .tp{
    font-weight: 800;
    font-size: 35px;
    line-height: 10px;
}
.tp{
    color: #18CB96;
    font-weight: 800;
    font-size: 25px;
}
.counter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.499);
}
.cnt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cnt p{
    font-weight: 700;
    padding: 10px;
}
.cnt p:hover{
    background-color: rgba(128, 128, 128, 0.077);
    cursor: pointer;
}
.add{
    font-size: 12px;
    border: 1px solid rgba(128, 128, 128, 0.641);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    
}
.add:hover{
    background-color: rgba(128, 128, 128, 0.077);
    cursor: pointer;

}
.page .footer{
    position: fixed;

}
/* 
textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    padding: 10px;
} */